{# Ejemplo de comentario #}

    {% extends "base.html.twig" %}

    {% block body %}

        <h1>Error inesperado</h1>
    
        <p>Me he roto</p>
    
        <p> Ve a la portada para ver si funciono <a href="{{path('homepagina_home')}}">
        Inicio</a></p>
    
    {% endblock %}