{# Ejemplo de comentario #}

    {% extends "base.html.twig" %}

    {% block body %}

        <h1>Pagina no encontrada</h1>
    
        <p>Busca otra cosa que esta no existe ;)</p>
    
        <p> Ve a la portada para buscar <a href="{{path('homepagina_home')}}">
        Inicio</a></p>
    
    {% endblock %}